<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect www to non-www -->
        <rule name="CanonicalHostNameRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.billsplitter\.siempi\.ch$" />
          </conditions>
          <action type="Redirect" url="https://billsplitter.siempi.ch/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Handle SPA routes for /de/app/ path -->
        <rule name="SPA_Routes_DE_App" stopProcessing="true">
          <match url="^de/app/.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="de/app.html" />
        </rule>
        
        <!-- Handle SPA routes for /en/app/ path -->
        <rule name="SPA_Routes_EN_App" stopProcessing="true">
          <match url="^en/app/.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="en/app.html" />
        </rule>
        
        <!-- Handle SPA routes for other German pages -->
        <rule name="SPA_Routes_DE" stopProcessing="true">
          <match url="^de/.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="de.html" />
        </rule>
        
        <!-- Handle SPA routes for other English pages -->
        <rule name="SPA_Routes_EN" stopProcessing="true">
          <match url="^en/.*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="en.html" />
        </rule>
        
        <!-- Default fallback for all other routes -->
        <rule name="SPA_Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set custom HTTP headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <!-- Set canonical URL in HTTP header -->
        <add name="Link" value="&lt;https://billsplitter.siempi.ch{REQUEST_URI}&gt;;rel=&quot;canonical&quot;" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Configure static file caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- Custom 404 error page -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
</configuration> 
